<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="seat">
      <h2 data-cy="seatDetailsHeading"><span jhiTranslate="seatReservationApp.seat.detail.title">Seat</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ seat.id }}</span>
        </dd>
        <dt><span jhiTranslate="seatReservationApp.seat.name">Name</span></dt>
        <dd>
          <span>{{ seat.name }}</span>
        </dd>
        <dt><span jhiTranslate="seatReservationApp.seat.description">Description</span></dt>
        <dd>
          <span>{{ seat.description }}</span>
        </dd>
        <dt><span jhiTranslate="seatReservationApp.seat.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'seatReservationApp.AvailabilityStatus.' + seat.status }}">{{ seat.status }}</span>
        </dd>
        <dt><span jhiTranslate="seatReservationApp.seat.room">Room</span></dt>
        <dd>
          <div *ngIf="seat.room">
            <a [routerLink]="['/room', seat.room.id, 'view']">{{ seat.room?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/seat', seat.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
